@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie przypomnienia hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Wysłano wiadomość. W celu zresetowania hasła sprawdź skrzynkę email.
</p>

